# Name: Analysis_3D_Plugin# Description:# This plugin contains various tools for 3D images morphological operations.# Authors: Luc Salvo & Pierre Lhuissier - SIMaP/GPM2 - Grenoble University# Version: 1.2# Date: 04/12/2012# Requires: ImageJ 1.40# The information above may be used by a future plugin manager.Plugins>Analysis 3D,"DilEro", DilEro_3D("run")Plugins>Analysis 3D,"Granulometry", Granulometry_3D("run")Plugins>Analysis 3D,"Median", median_3D("run")Plugins>Analysis 3D,"Labeling", Labeling_3D("run")Plugins>Analysis 3D,"Parameters", Parameters_3D("run")Plugins>Analysis 3D,"Parameters_filter", ParamFilter("run")Plugins>Analysis 3D,"Help Analysis 3D", Analysis_3D_help("run")